google_api_python_client==2.164.0
googletrans==4.0.0rc1
nltk==3.9.1
pandas==2.2.3
protobuf==6.30.2
Sastrawi==1.0.1
Sastrawi==1.0.1
scikit_learn==1.6.1
tensorflow==2.18.0
tqdm==4.67.1
vaderSentiment==3.3.2
vaderSentiment==3.3.2
